.cm-s-default {
    .cm-keyword{
        color: blue;

        font-weight: bold;
    }
    
    .cm-number{
        color: cyan
    }

    .cm-operator{
        color: green;
        font-weight: bold;
    }
}
